body {
    font-family: sans-serif;
}

pre {
    margin: 0;
}

h1 a {
    float: right;
}

h1 object {
    height: 1.5em;
    vertical-align: middle;
}

.box {
    float: left;
    padding: 0.5em;
    margin: 0.3em;
    border: solid 0.05em;
    display: none;
}

.box .header {
    margin-bottom: 0.5em;
}

.box .header .language {
    font-weight: bold;
}

.box .tags {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 80%;
}

.box .sources {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 80%;
}

#languages, #paradigms, #outputs, #tags {
    margin: 0.3em;
}