body {
    font-family: sans-serif;
}

pre {
    margin: 0;
}

.box {
    float: left;
    padding: 0.5em;
    margin: 0.3em;
    border: solid 0.05em;
    display: none;
}

.box .header {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.box .tags {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 80%;
}

.box .sources {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 80%;
}

#languages, #tags {
    margin: 0.3em;
}